
<section id="contact_page" class="section-single">
<div class="container">
<div class="fullwidth-post-wrapper col-lg-12">
<div class="general_wrapper clearfix">
<div class="col-lg-3 col-md-3 col-sm-12 clearfix">

<div id="message"></div>
<div id ="contact_us">
  <%= render :partial => "contact_us" %>
</div>
</div><!-- end col-lg-6 -->

</section><!-- end section-single -->
