 <table class="table table-bordered table-striped">
<thead>
    <tr>
    
      <th>Name</th>
      <th>Email</th>
  
        <th>Subject</th>
      <th>Message</th>
     
 
    </tr>
  </thead>
    <tbody>
  <tr>

        
          <td><%= @name %></td>
            <td><%= @email %></td>
             <td><%= @subject %></td>
              <td><%= @message %></td>
                </tbody>
</table>
